<template>
  <div class="profile">
    <h1>{{ msg }}</h1>
    <p>
      This page was built with the following technologies:
    </p>
    <ul>
      <li>Vue.js</li>
      <li>CloudFront</li>
      <li>Route53</li>
      <li>Gitlab CI</li>
      <li>Terraform</li>
      <li>Amazon S3</li>
      <li>DynamoDB</li>
    </ul>
    <h3>Work Experience</h3>
    <ul>
      <li><a href="https://www.linkedin.com/in/tlee75/" target="_blank" rel="noopener">LinkedIn</a></li>
      <li><a href="https://my.indeed.com/p/tylerl-n90jo4g" target="_blank" rel="noopener">Indeed</a></li>
    </ul>
    <h3>Code Repository</h3>
    <ul>
      <li><a href="https://gitlab.com/tlee75" target="_blank" rel="noopener">GitLab</a></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'ProfilePage',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
