<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <ProfilePage msg="Tyler Lee's Professional Profile"/>
  </div>
</template>

<script>
import ProfilePage from './components/ProfilePage.vue'

export default {
  name: 'App',
  components: {
    ProfilePage
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
